.THIS .uiInput--input .input,.THIS .uiInputCheckbox, .THIS .uiInput--input.input,.THIS .uiInputTextArea, .THIS .border,.THIS .lightning-datepicker_datepicker .slds-form-element__control .slds-input-has-icon .slds-input-has-icon_right
{    border: 1px solid rgb(13, 156, 234)!important;
     font-size:0.8rem;
}
.THIS .slds-dueling-list__options
{
border: 1px solid rgb(13, 156, 234)!important;   
max-width: 280px!important;
height: 150px;
}
.THIS .slds-dueling-list__column_responsive
{
        min-width: 18rem !important;
}
.THIS .slds-dueling-list__column .slds-button:first-of-type
{
    border: 1px solid;
}
.THIS .uiInput--select,.THIS .input .input .THIS .slds-input .uiInput--input .input, .THIS .uiInput--input.input, .THIS .border,.THIS .lightning-datepicker_datepicker .slds-form-element__control .slds-input-has-icon .slds-input-has-icon_right
{    border: 1px solid rgb(13, 156, 234) !important;
    font-size:0.8rem;
} 
.THIS .input  
{
    border: 1px solid rgb(13, 156, 234) !important;
    width:100%;
    border-radius: 3px;
    height: 33px;
}
.THIS .uiInput--input .input
{
     border: 1px solid rgb(13, 156, 234) !important;
}


.THIS .bigdate {

    font-size: 15px;

} .THIS .ddheight
{
    height:35px !important;
}
.THIS .form-group{
    max-width: 25%!important;
    
}
.THIS .wrap {
    max-width: 100% !important;
}
.THIS .redtxt
{color:red;}
.THIS .sizeofva
{
    margin-top: -30px !important;
}
.THIS .flo
{float:left;
}
.THIS .control, .THIS .h_card_dataCom
{
    width: 100%;
        color: #0c8dd4;
    font-size: 0.9em;
    font-weight: 500 !important;
  
}
.THIS .slds-checkbox__label
{
border:1px solid;}
.THIS .slds-tabs_default
{
        margin-top: 7px;
}
.THIS .input
{
    border: 0px !important;
    font-size:0.8rem;
    font-weight: normal!important;
    
    
}
.THIS .save
{color:#fff;
}
.THIS .control .uiOutputDate
{
     font-size:0.8rem;
    color:#0c8dd4;
    font-weight: normal!important;
}
.THIS .card-header
{border-bottom: 1px #c6c6c6 dotted !important;
}

.THIS .card-bodypop
{
    overflow-y:Scroll;
    padding: 6px !important;
    background: #f6f7f8!important;
}
.THIS .box-card1
{
    width: 100%;
    background: #fff;
    border-radius: 4px;
    margin-bottom: 0px !important;
}
.THIS .rapidwi72{
        width: 160px;
}
.THIS .table
{
  font-size: 0.8em;
}
.THIS .card-body {
     overflow-y: hidden !important;
}
.THIS .card-body1
{
    padding: 15px !important;
    /*background: #f6f7f8!important;*/
}
.THIS .slds-tabs_default__content
{
    background: #f6f7f8 !important;
    height:calc(100vh - 360px) !important;
    overflow-y: auto !important;
}
.THIS .slds-tabs_default__content.slds-show,
.THIS .slds-tabs--default__content.slds-show{
    background: #f6f7f8 !important;
    height:calc(100vh - 360px) !important;
    overflow-y: auto !important;
}
.THIS .wi72{
        width: 175px;
}
.THIS .hide
{
    display:none !important;
}
.THIS .card-body
{
   padding: 0px !important;
}
.THIS .slds-tabs_default__item, .THIS .slds-tabs--default__item
{
        font-size: 14px;
    color:#000;
}
.THIS .slds-show
{
        background: #f6f7f8 !important;
}
.THIS .slds-tabs_default__nav .slds-is-active{
	color: #555 !important;
    background-color: #fff !important;
    font-size: 14px !important;
    border-radius: 50px !important;
    border: 1px #0c8dd4 solid !important;
}
.THIS .slds-is-active:after
{
            background-color: transparent !important;
}
.THIS .slds-tabs_default__item:after, .THIS .slds-tabs--default__item:after
{    content: none;
}
.THIS .toggle {

    display: none;

}
.THIS .siteforceLoadingBalls .global
{
    display: none;
}
.THIS .slds-tabs_default__content .slds-tabs--default__content
{     
    position: relative;
    padding: 1rem 0;
    padding-left: 1%;

}
.THIS .input.uiOutputText{
    font-size:12px !important;
}
.THIS label 
{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-size: 13px;
    font-weight:bold !important;
}

.THIS th{
	font-weight: 500;
}

.THIS .slds-page-content{
    overflow-y:auto;
}

.THIS ul{
list-style: none !important;
} 
/*.THIS .upload{
    margin-left: 400px !important;
    margin-top: -42px !important;
}*/
.THIS .form_compound{
    width: 100% !important;
    padding-left: 2%;
}

.THIS .slds-tabs--default__item.slds-active{
    color: #000;
    /*font-size: 1.2em;*/
}


.THIS .slds-modal__container{
    margin-top: 0px;
}

.THIS .slds-modal__container1{
   width: 33%;
}

.THIS .slds-modal {
    position: fixed; 
} 

.THIS .padding15 {
    margin: 0;
    padding: 9px; 
}
.THIS .error_text { 
    color: red;
}

.THIS .btnHide {
    display: none;
}

.THIS .btnShow {
    display: inline-block;
    
}

.THIS input  {
    color: inherit !important;
    margin: 0 !important;
}

.THIS .divOuter  {
    width:100%;
}

.THIS .divInner1  {
    width:50%;
    display: inline-block;
    padding: 10px;
}

.THIS .divInner2  {
    width:50%;
    float: right;
    padding: 10px;
}

.THIS .divInner3  {
    width:100%;
    padding-bottom: 10px;
}

.THIS .divInner4  {
    width:100%;
}

.THIS .divInner5  {
    width:50%;
    display: inline-block;
}

.THIS .divInner6  {
    width:50%;
    float: right;
}

.THIS .divInner7  {
    width:30%;
    display: inline-block;
    padding: 5px;
  text-align: right;
    
}

.THIS .divInner8  {
    width:70%;
    float: right;
    padding: 5px;
    
}

.THIS .Sell_Ofrr_Name
{
    width: 50% !important;	
    float: left !important;
}
.THIS .Int_Offr_Id
{
    width: 50% !important;
    float: right !important;
}
.THIS .Parti_cipation
{
    width: 50% !important;
    float: left !important;
}
.THIS .loan_type
{
    width: 50% !important;
    float: right !important;
}
.THIS .Port_Character
{
    width: 100% !important;
}
.THIS .Orig_Princ
{
    width: 50% !important;
    float: left !important;
}
.THIS .W_A_C
{
    width: 50% !important;
    float: right !important;
}
.THIS .Cur_Princ
{
    width: 50% !important;
    float: left !important;
}
.THIS .Fico_WA
{
    width: 50% !important;
    float: right !important;
}
.THIS .Numb_Loan
{
    width: 50% !important;
    float: left !important;
}

.THIS .Min_Fico
{
    width: 50% !important;
    float: right !important;
}
.THIS .Cur_Loan_Amount
{
    width: 50% !important;
    float: left !important;
}
.THIS .WA_Orig_Term
{
    width: 50% !important;
    float: right !important;
}
.THIS .wa_ltv
{
    width: 50% !important;
    float: left !important;
}
.THIS .WA_Remain_Term
{
    width: 50% !important;
    float: right !important;
}
.THIS .WA_DTI
{
    width: 50% !important;
    float: left !important;
}
.THIS .New
{
    width: 50% !important;
    float: right !important;
}
.THIS .Indirect
{
    width: 50% !important;
    float: left !important;
}
.THIS .Avg_Vehicle
{
    width: 50% !important;
    float: right !important;
}
.THIS .Chrg_Off
{
    width: 50% !important;
    float: left !important;
}
.THIS .WA_Life_Loan
{
    width: 50% !important;
    float: right !important;
}
.THIS .Porf_Price
{
    width: 100% !important;
}
.THIS .Portfol_Price
{
    width: 50% !important;
    float: left !important;
}
.THIS .Ser_Fee
{
    width: 50% !important;
    float: right !important;
}
.THIS .Sell_Notes
{
    width: 100% !important;
    float: left !important;
}
.THIS .error_text1 {
    font-size: 16px;
    font-family: inherit;
    color: #F44336;
    text-align: center;
        
    
}

.THIS .popup-font{
   font-size:13px !important; 
}
.THIS .popup-button{
float: right;
display: none;
margin-right: -11px;
margin-top: -9px;
border: 1px solid rgba(214, 214, 214, 0.47);
}
.THIS .sec_background {
    background: rgb(244, 246, 249) !important;
    border-radius: 2px !important;
    width: 100% !important;
    padding: 6px !important;
    font-size: 1.2em;
    margin-bottom:10px;
}
.THIS .Customizedstocktable{
    min-width:500px !important;
}
.THIS #modal_popup .slds-modal__container{
   max-width: 45rem !important;
}
.THIS .uiInputDateTime .dateTime-inputTime{
	display:none !important;
}

.THIS .uiInputDateTime .dateTime-inputDate{
	width:100% !important;
}
.THIS .editwi72{
    width: 88px;
}
.THIS .wi72 {
    width: 95px;
}
.THIS .slds-input{
        	width:420px !important;
}
.THIS .m_pannel{height:calc(100vh - 105px);}
.THIS .fa-edit1::before  {content:'\f044' !important;color:white;}
.THIS .fa-edit::before  {content:'\f06e' !important;color:green;}
.THIS .fa-usd::before  {content:'\f4c0' !important;}
.THIS .fa-info::before  {content:'\f129' !important;}
.THIS .fa-check::before  {content:'\f00c' !important;}
.THIS .fa-times::before  {content:'\f00d' !important;}
.THIS .label{font-weight: normal !important;}
.THIS .fa-comment::before  {content:'\f0e3' !important;}
.THIS .fa-user-shield::before  {content:'\f03a' !important;}
.THIS .fa-calendar-alt::before  {content:'\f073' !important;}
.THIS .fa-file-pdf::before  {content:'\f1c1' !important;}
.THIS .fa-download::before  {content:'\f019' !important;color:#0c8dd4;}
        
.THIS .fa-times-circle::before  {color:red;}
        
.THIS ul.classa {
        margin-left: 40px;
        line-height: 5vh;
        font-size: 17px;
        }
.THIS .fa-chevron-circle-right::before  {color:green;}
.THIS .card-footer1 {
        background: #fff;
        border: 0px;
        height: 50px;
        /* padding-bottom: 10px !important; */
        border-top: 1px #c6c6c6 dotted;
        font-size: 13px;
        padding: 6px;}
.THIS .card-header1
        {
        background-color: #0C8DD4;
        border-radius: 0px !important;
        color:white;
        }
.THIS .active1{
        color: green !important;
        font-weight: 500 !important;
        border-color: green !important;
        font-weight: bold !important;}
.THIS .completed{
        color: blue !important;
        font-weight: 500 !important;
        border-color: blue !important;
        font-weight: bold !important;}
        
.THIS .card-bodyred {
        border: 2px solid red;
        box-shadow: 0px 0px 2px 2px red;
        }
.THIS .slds-button--cancel{
        background-color:tomato;
        color:white;
        }
.THIS .h3 {
        color: #0C8DD4;
        text-transform: uppercase;
        text-align: center;
        font-weight: 600;
        letter-spacing: 3px;
        margin-bottom: 32px;
        font-size:22px;
        }
.THIS .html
        {
        background: #8c8f92 !important;
        }        
.THIS  .profileMenuRegion{
        display: none;
        }
.THIS .navigation{
        display: none;
        }
        
.THIS .ui-widget{
        margin: 0px 0 !important;
        clear: both !important;
        }        
.THIS .col-md-5
        {
        position: relative;
        min-height: 1px;
        padding-right: 0px;
        padding-left: 0px;
        }
.THIS .col-md-7 {
        position: relative;
        min-height: 1px;
        padding-right: 0px;
        padding-left: 0px;
        }
        /*jaya*/
.THIS .slds-button_brand {
        color: rgb(255, 255, 255) !important;
        }   
.THIS .slds-button--brand{
        color: rgb(255, 255, 255) !important;
        }   
.THIS .uiInput--input  
        {
        Height: 55px;
        }
.THIS .input{
    Height: 55px;
}
.THIS .uiInput--input.input{
    Height: 55px;
}
.THIS .control-label
        {
        font-weight:bold;
        }
.THIS .col-md-7{
        color:#0c8dd4;
        }
.THIS .col-sm-12{
        height: 62px !important;
        }
        
        
        /*jaya*/
.THIS .uiButton1
        {
        height: 40px;
        font-weight: 500;
        font-size: 15px;
        border-radius: 0px;
        }
.THIS .container {
        width: 800px;
        margin: 20px auto; 
        }
.THIS .progressbar{
        counter-reset: step;
        }
.THIS .progressbar1 {
        counter-reset: step;
        }
.THIS .progressbar1 li {
        list-style-type: none;
        width: 30% !important;
        }
.THIS .progressbar {
        list-style-type: none;
        width: 18%;
        float: left;
        font-size: 15px;
        font-weight: 500;
        margin-left: 14px;
        position: sticky;
        text-align: center;
        text-transform: uppercase;
        color: #7d7d7d;
        }
.THIS .progressbar1 li {
        list-style-type: none;
        width: 18%;
        float: left;
        font-size: 15px;
        font-weight: 500;
        margin-left: 14px;
        position: sticky;
        text-align: center;
        text-transform: uppercase;
        color: #7d7d7d;
        }
.THIS .progressbar {
        width: 30px;
        height: 30px;
        content: counter(step);
        counter-increment: step;
        line-height: 30px;
        border: 2px solid #7d7d7d;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius: 50%;
        background-color: white;
        }
.THIS .progressbar1 li:before {
        width: 30px;
        height: 30px;
        content: counter(step);
        counter-increment: step;
        line-height: 30px;
        border: 2px solid #7d7d7d;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius: 50%;
        background-color: white;
        }
.THIS .progressbar{
        width: 100%;
        height: 2px;
        content: '';
        position: absolute;
        background-color: #7d7d7d;
        top: 15px;
        left: -50%;
        z-index: -1;
        }
.THIS .progressbar1 li:after {
        width: 100%;
        height: 2px;
        content: '';
        position: absolute;
        background-color: #7d7d7d;
        top: 15px;
        left: -50%;
        z-index: -1;
        }
.THIS .progressbar{
        content: none;
        }
.THIS .progressbar1 li:first-child:after {
        content: none;
        }
.THIS .progressbar {
        color: #7d7d7d;
        font-weight:500;
        }
.THIS .progressbar1 li.active {
        color: #7d7d7d;
        font-weight:500;
        }
.THIS .progressbar li.active:before {
        border-color: #55b776;
        font-weight:500;
        }
.THIS .progressbar {
        background-color: #55b776;
        font-weight:500;
        }
.THIS .progressbar1 li.active + li:after {
        background-color: #55b776;
        font-weight:500;
        }
.THIS .card-body1{
        border: 2px solid #a8ccd7;
        box-shadow: 0px 0px 2px 2px #a8ccd7;}
.THIS .back
        {
        background-color: green;
        border:1px Solid green;
        width:200px;
        }
.THIS .slds-inputtxt
        {
        width: 50px !important;float:left;
        }
.THIS .inputs{
        width: 90% !important;
        }     
.THIS .slds-input
        {    border: 1px solid rgb(13, 156, 234) !important;
        font-size:0.8rem;
        width: 430px;
        }
        
        
.THIS #progress {
        padding: 0;
        list-style-type: none;
        font-family: arial;
        font-size: 12px;
        clear: both;
        line-height: 1em;
        margin: 0 -1px;
        text-align: center;
        }        

        
   .THIS #progress li:before {
        content: '';
        border-left: 16px solid #fff;
        border-top: 16px solid transparent;
        border-bottom: 16px solid transparent;
        position: absolute;
        top: 0;
        left: 0;
        }
        
        .THIS #progress li:after {
        content: '';
        border-left: 16px solid #ececec;
        border-top: 16px solid transparent;
        border-bottom: 16px solid transparent;
        position: absolute;
        top: 0;
        left: 100%;
        z-index: 20;
        }
        
         .THIS #progress li.active {
        background: #39ad4d;
        color: #fff;
        }
        
        .THIS #progress li.active:after {
        border-left-color: #39ad4d;
        }
        
        .THIS #progress li.process {
        background: #136bbf;
        color: #fff;
        }
        
        .THIS #progress li.process:after {
        border-left-color: #136bbf;
        }
        
        
        .THIS .progress-border {
        border: 1px #136bbf solid;
        }
        
        .THIS table.p-table td p {
        font-weight: 400;
        margin: 0px;
        margin-bottom: -7px;
        color: #39ad4d;
        font-size: 12px;
        }
        
        
        .THIS .arrow-div {
        width: 100%;
        display: inline-block;
        }
        /*------------------------------------------------------*/
        .THIS .p-card{
        background:#fff;
        padding:2px;
        width:100%;
        border-radius: 3px;
        padding: 8px 0px;
        position:relative;
        -webkit-box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.16);
        -moz-box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.16);
        box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.16);
        }
        
        .THIS .doc-download{
        position:absolute;
        top:7px;
        right:7px;
        }
        
        .THIS table.p-table{
        
        }
        
        .THIS table.p-table td{
    
}
.THIS .table td
{
    padding: 5px;
}
.THIS .table th
{
    padding: 5px;
}
        
        .THIS table.p-table td p{
        font-weight:400;
        margin:0px;
        margin-bottom: -7px;
        color:#0c8dd4;
        font-size:12px;
        }
        .THIS table.p-table td span{
        font-size:12px;
        color:#555;
        }
        
        
        .THIS .p-card-md {
        padding-left: 9px;
        padding-right: 9px;
        margin-bottom:10px;
        
        
        }
        
        .THIS .grey-txt{
        color:#a4a4a4 !important;
        
        }
        
        .THIS .active-border{
        border:1px #48d71e solid;
        }
        
        .THIS .n-active-border{
        border:1px #d4d4d4 solid;
        }
        
        .THIS .accord{
        
        }
        
        
        .THIS .accord .card-header {
        padding: .30rem 0.25rem;
        margin-bottom: 0;
        background-color: #fff;
        border-bottom: 1px solid rgba(0,0,0,.125);
        
        }
        
        .THIS .accord .card-header .btn{
        font-size:14px !important;
        text-decoration:none !important;
        color:#282828 !important;
        display:block !important;
        }
        
        .THIS .btn-header{
        font-size:14px !important;
        text-decoration:none !important;
        color:#282828 !important;
        display:block !important;
        }
        
         .THIS .bg-white{
        background:#fff;
        }
        .THIS .p{
        font-size: 14px;
        
        margin-top: 3px;
        }
        .THIS table.p-table td
        {
        padding-left: 25px;
        }
        .THIS table.p-table td p
        {
        margin-bottom:0px !important;
        }
        .THIS hr{
        margin-top: 1rem;
        margin: 7px;
        margin-left: 5px;
        width: 88%;
        /* margin: 0 auto; */
        margin-bottom: 0rem;
        border: 0;
        border-top:1px #c6c6c6 dotted;
        }
        .THIS .slds-checkbox--toggle [type=checkbox]:checked+.slds-checkbox--faux_container .slds-checkbox--faux {
        border-color: green;
        background-color: green !important;
        }
        .THIS .table
        {    margin-bottom:0px !important;}
        .THIS .slds-checkbox--toggle slds-grid
        {
        display: flex !important;
        }
        .THIS .inputEdit{
        border: 1px solid #0D9CEA !important;
        font-size: .8rem;
        font-weight: normal!important;
        height: 30px;        
        padding:10px;
        width: 290px;
        }
        .THIS .taskheader{
        background-color: #E5E5E5;
        height: 35px;
        padding-top: 7px;
        padding-left: 10px;
        margin-bottom: 10px;
        }
        .THIS .inputdate{
        border: 1px solid rgb(13, 156, 234)!important;
        font-size: .8rem;
        border-radius: .25rem;
        width: 100%;
        height:40px;
        }
        .THIS .cTransactionview .slds-dueling-list__options{
        margin-left: 4px !important;
        }
        .THIS .slds-dueling-list__column .slds-button:first-of-type
        {
        margin-top: 2.9rem !important;
        }
        .THIS .uiInputDateTime .form--stacked {
        display: block !important;
        }
        .THIS .uiInputDateTime .dateTime-inputDate
        {
        width:100% !important;
        }
         .THIS .slds-input-has-icon .slds-input__icon:not(button) {
        display: none;
        }
        .THIS .cTransactionview .slds-dueling-list__column_responsive {
        min-width: 14rem!important;
        }
        .THIS .datewidth{
        width:540px !important;
        }
        .THIS .cMainThemeLayout .slds-input{
        width:540px !important;
        }
        .THIS .slds-media {
        display: inherit !important;
        align-items: flex-start;
        }
        .THIS .taskheading{
        height: 25px;
        background-color: #136bbf;
        padding-top: 7px;
        font-size: 15px;            
        margin-bottom: 5px;
    	color:white;
    	font-weight:bold;    
        }
        .THIS .taskheadingh{
        height: 25px;
        background-color: #0C8DD4;
        padding-top: 7px;
        font-size: 15px;            
        margin-bottom: 5px;
        color: white;
        }
        .THIS .taskheadingg{
        height: 25px;
        background-color:green;
        padding-top: 7px;
        font-size: 15px;            
        margin-bottom: 5px;
        color: white;
}
.THIS .stepdiv{
    background: #fff;
    padding: 2px;
    width: 100%;
    border-radius: 3px;
    padding: 8px 0px;
    position: relative;
        border: 1px #136bbf solid;
}