@font-face {
   font-family: 'FontAwesome';
   src: url(/resource/fontawesome); 
    /* 
     'disneyFont' is the name of static resorces (.ttf) font file 
    */
 }
/* Radio button design-START*/
.THIS .info-icon
{line-height: 40px !important;}
.THIS .hidden
{
 display: none;   
}
.THIS .ddheight
{
    height:35px !important;
}
.THIS .rapidwi72
{
    width: 23%;
}
.THIS .radio-button
{
    float: none !important;
}
.THIS .uiLabel
{
    font-size:14px;
}
.THIS .radio-button.active
{
  background: rgb(12, 141, 212)!important  
}
/* Radio button design-END*/
.THIS .uiInput--input .input, .THIS .uiInput--input.input, .THIS .border, .THIS .slds-input .THIS .hasDatepicker
{    border: 1px solid rgb(13, 156, 234)!important;
}
.THIS .card-bodypop
{
    padding: 6px !important;
    background: #f6f7f8!important;
}
.THIS .box-card1
{
    width: 100%;
    background: #fff;
    border-radius: 4px;
    margin-bottom: 0px !important;
}
.THIS .card-header
{border-bottom: 1px #c6c6c6 dotted !important;
}
.THIS .wi72 {
    width: 90px;
}
.THIS .error_text { 
    color: red;
}
.THIS .slds-dueling-list__options, 
.THIS .slds-picklist__options{
    height:13rem !important;
}
.THIS .slds-text-link--reset {
    color: inherit !important;
    text-decoration: none !important;
    width: 100% !important;
    height: 47px !important;
    text-align: left !important;
    padding-left:0px !important;
    padding-right:0px !important;
    font-size: 17px !important;
    box-shadow: none !important;
    display: inline-table !important;
}

.THIS .Customizedstocktable{
    min-width:100%;
}
.THIS .Customizedstocktable tbody, 
.THIS .Customizedstocktable thead ,
.THIS .Customizedstocktable tr,
.THIS .Customizedstocktable th,
.THIS .Customizedstocktable td {
    display: block;
}
.THIS .Customizedstocktable tbody {   
    height: 625px;
    overflow-y: auto;
    width:100%; 
}
.THIS .Customizedstocktable thead{
    width:99%;
}
.THIS .Customizedstocktable tbody tr{
    clear:both;
}
.THIS .Customizedstocktable th, .THIS .Customizedstocktable td {
    width: 10%;
    float: left;
}
.THIS .slds-table--striped tbody tr:nth-of-type(even) {
    background: #f4f6f9 !important;
    display: table;
    width: 100%;
}

.THIS .slds-table:not(.slds-no-row-hover) tbody tr:hover{
    background: #f4f6f9 !important;
    display: table;
   
    width: 100%;
}

.THIS .fa-edit::before  {content:'\f06e' !important;color:green;}
 .THIS .fa-edit1::before  {content:'\f06e' !important;color:red;}
 .THIS .Record_Size,
        .THIS .page_Options {
        width: 65px !important;
        }
        
        .THIS .h1.slds-page-header__title {
        margin-bottom: 0px !important;
        line-height: 50px !important;
        font-size: 42px !important;
        margin-bottom: 3px !important;
        }
        
        .THIS .h1.slds-page-header__title:before {
        content: '';
        width: 50px;
        height: 50px;
        position: relative;
        float: left;
        background-position: center;
        margin-right: 14px;
        background-size: 100% 100%;
        background-image: url(/tradaix/resource/1518521375000/wayfindingicons/icon-finalized-offers-50x50.png);
        }
        .THIS .title { 
        font-family: Salesforce sans !important;
        font-size: 1.2em !important;
        font-weight: inherit !important;
        }
        .THIS .uiInput--input .input  {
        border: 1px solid rgba(217, 217, 218, 0.99) !important;       		
        } 
		.THIS .uiInput--input.input{
    border: 1px solid rgba(217, 217, 218, 0.99) !important;      
}
.THIS .border {
    border: 1px solid rgba(217, 217, 218, 0.99) !important;  
}
        .THIS .control-label1 {  
        display: inline-block;
        max-width: 100%;
        margin-bottom: 5px;
        font-size: 13px;
        font-weight: 500;
        }         
        .THIS .slds-page-header {
        line-height: 20px !important;
        }
        .THIS .slds-input
        {
        	border: 1px solid rgb(13, 156, 234)!important;
        }
        .THIS .slds-button_icon-bare{margin-top: -8px;}
        .THIS .slds-form-element__label
        {display: none !important;}
		.THIS .slds-combobox_container
{display: none !important;}
        .THIS .save
        {
        font-size: 0.8em !important;
        }
        .THIS .ui-widget {
        font-family: 'Poppins', sans-serif;
        }
        .THIS .clschk{
        	float:left;
        }