.THIS .uiInput--input .input, .THIS .uiInput--input.input, .THIS .border
{    border: 1px solid rgb(13, 156, 234)!important;
}.THIS .centerunselect
{
    width: 100%;
    border-radius: 0px !important;
}
.THIS .card-bodypop
{
    padding: 6px !important;
    background: #f6f7f8!important;
}
.THIS .box-card
{
    margin-bottom: 0px !important;
}
.THIS .error_text
{
    
    color:red;
}
.THIS .rapidwi72
{
   width: 28%;
}
.THIS .card-header
{border-bottom: 1px #c6c6c6 dotted !important;
}
.THIS .row{
    margin-right:0px !important;
    margin-left:0px !important; 
}
.THIS .uiOutputDateTime
{
    font-size: 12px;
}
.THIS .table
{
  font-size: 0.8em;
}
.THIS .card-body1
{
    overflow-y: scroll;
    padding: 15px !important;
    /*background: #f6f7f8!important;*/
    height: calc(100vh - 141px)!important;
}
.THIS .wi72{
        width: 175px;
}
.THIS .editwi72{
        width: 95px;
}
.THIS .card-body
{
   padding: 0px !important;
}
.THIS .slds-tabs_default__item, .THIS .slds-tabs--default__item
{
        font-size: 14px;
    color:#000;
}
.THIS .m_pannel, .THIS .card-body
{
    overflow-y: hidden !important;
}
.THIS .slds-show
{
    	padding:15px;
        background: #f6f7f8 !important;
}
.THIS .slds-tabs_default__item:after, .THIS .slds-tabs--default__item:after
{    content: none;
}
.THIS .slds-tabs_default__nav
{
    Padding-top:10px;
}
.THIS .slds-tabs_default__nav .slds-is-active{
	color: #555 !important;
    background-color: #fff !important;
    font-size: 14px !important;
    border-radius: 50px !important;
    border: 1px #0c8dd4 solid !important;
}
.THIS .slds-is-active:after
{
            background-color: transparent !important;
}
.THIS .slds-tabs_default__content .slds-tabs--default__content{ 
    position: relative;
    padding: 1rem 0;
    padding-left: 1%; 
}
.THIS .form_compound{
    width: 100% !important;
    padding-left: 2%;
}
.THIS label 
{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-size: 13px;
    font-weight:bold !important;
}
.THIS .slds-page-content{
    overflow-y:auto;
}
.THIS .Fin_Offr_file 
{    
    padding: 1% !important;
    border-radius: 5Px !important;
    color: #000 !important;
}

.THIS ul{
list-style: none !important;
}
.THIS .btn
{
    float: right !important;
    margin-top: -25px !important;
    margin-right: 10px !important;
    text-align: center !important;
    vertical-align: middle !important;
    border: 1px solid #d8dde6 !important;
    background-color: white !important;
    height: 20px !important;
    border-radius: 4px !important;
}

.THIS .sec_background {
    background: rgb(244, 246, 249) !important;
    border-radius: 2px !important;
    width: 100% !important;
    padding: 6px !important;
    font-size: 1.2em;
    margin-bottom:10px;
}

.THIS .divOuter  {
    width:100%;
}

.THIS .divInner1  {
    width:50%;
    display: inline-block;
    padding: 10px;
}

.THIS .divInner2  {
    width:50%;
    float: right;
    padding: 10px;
}

.THIS .divInner3  {
    width:100%;
    padding-bottom: 10px;
}

.THIS .divInner4  {
    width:100%;
}

.THIS .divInner5  {
    width:50%;
    display: inline-block;
}

.THIS .divInner6  {
    width:50%;
    float: right;
}

.THIS .divInner7  {
    width:40%;
    display: inline-block;
    padding: 5px;
  text-align: right;
    
    
}

.THIS .divInner8  {
    width:60%;
    float: right;
    padding: 5px;
    
}


.THIS .Sell_Ofrr_Name
{
    width: 50% !important;	
    float: left !important;
}
.THIS .Int_Offr_Id
{
    width: 50% !important;
    float: right !important;
}
.THIS .Parti_cipation
{
    width: 50% !important;
    float: left !important;
}
.THIS .loan_type
{
    width: 50% !important;
    float: right !important;
}
.THIS .Port_Character
{
    width: 100% !important;
}
.THIS .Orig_Princ
{
    width: 50% !important;
    float: left !important;
}
.THIS .W_A_C
{
    width: 50% !important;
    float: right !important;
}
.THIS .Cur_Princ
{
    width: 50% !important;
    float: left !important;
}
.THIS .Fico_WA
{
    width: 50% !important;
    float: right !important;
}
.THIS .Numb_Loan
{
    width: 50% !important;
    float: left !important;
}

.THIS .Min_Fico
{
    width: 50% !important;
    float: right !important;
}
.THIS .Cur_Loan_Amount
{
    width: 50% !important;
    float: left !important;
}
.THIS .WA_Orig_Term
{
    width: 50% !important;
    float: right !important;
}
.THIS .wa_ltv
{
    width: 50% !important;
    float: left !important;
}
.THIS .WA_Remain_Term
{
    width: 50% !important;
    float: right !important;
}
.THIS .WA_DTI
{
    width: 50% !important;
    float: left !important;
}
.THIS .New
{
    width: 50% !important;
    float: right !important;
}
.THIS .Indirect
{
    width: 50% !important;
    float: left !important;
}
.THIS .Avg_Vehicle
{
    width: 50% !important;
    float: right !important;
}
.THIS .Chrg_Off
{
    width: 50% !important;
    float: left !important;
}
.THIS .WA_Life_Loan
{
    width: 50% !important;
    float: right !important;
}
.THIS .Porf_Price
{
    width: 100% !important;
}
.THIS .Portfol_Price
{
    width: 50% !important;
    float: left !important;
}
.THIS .Ser_Fee
{
    width: 50% !important;
    float: right !important;
}
.THIS .Sell_Notes
{
    width: 100% !important;
    float: left !important;
}

.THIS h5 {
    font-weight: inherit;
    font-size: 1em;
<<<<<<< HEAD
}
.THIS fa-chalkboard-teacher::before  {content:'\f51c' !important;}
.THIS fa-edit1::before  {content:'\f044' !important;color:red;}
.THIS m_pannel .card-header button {
        margin-top: -2px !important;
        margin-left: 5px !important;
        box-shadow: none !important;
}
.THIS btn-primary1 {
    color: #fff !important;
    background-color: #007bff !important;
    border-color: #007bff !important;
    font-size: .8rem !important;
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
    font-weight: 400;
    user-select: none !important;
    border: 1px solid transparent !important;
}
.THIS table{
    line-height:4vh;
}
.THIS tr{
    line-height:4vh;
=======
>>>>>>> branch 'master' of https://Tradeaix-dev@bitbucket.org/Tradeaix-dev/tradeaix-clientdemo.git
}