<apex:component controller="BidClosedEmailTemp" access="global">
    <apex:attribute name="syndId" type="Id" description="Id of the Seller offer" assignTo="{!quoteId}" />     
    <div style="width: 75%;margin: 0 auto;background-color: #FAFAFA;"> 
        <br/> 
        <hr style="border: 3px solid #2aaee4;margin-left: 10px;margin-right: 10px;" />
        <br/>        
        <apex:image id="theImage" width="15%" style="margin-left: 10px;" value="{!Quotes.logourl}"  alt="logotitle"/>    
        <br/>
        <hr style="border: 3px solid #2aaee4;margin-left: 10px;margin-right: 10px;" />
        <table>
            <tr style="width:100%;">
<<<<<<< HEAD
                <th style="padding:5px;text-align:left;font-weight:bold;width:30%;font-size:16px;">Dear Sir / Madam,,</th>                
=======
                <th style="padding:5px;text-align:left;font-weight:bold;width:30%;font-size:16px;">{!Quotes.firstname},</th>                
>>>>>>> branch 'master' of https://Tradeaix-dev@bitbucket.org/Tradeaix-dev/tradeaix-clientdemo.git
            </tr>
            <tr style="width:100%;"> 
                <td style="padding:5px;">{!Quotes.partyName} has closed the quotes for Trade Finance transaction. Your quote was unsuccessful. We thank you for your participation.</td>
            </tr>              
        </table>        
        <hr style="border: 3px solid #2aaee4;margin-left: 10px;margin-right: 10px;" />
        <div style="margin-left: 10px;">                  
            <br/>
            <p>{!Quotes.Thanksmsg}</p>            
        </div>
        <hr style="border: 3px solid #2aaee4;margin-left: 10px;margin-right: 10px;" />
        <br/> 
    </div>
</apex:component>