<apex:component controller="indusind_RFQEmailTempVFcls" access="global">
    <apex:attribute name="transactionId" type="Id" description="Id of the Seller offer" assignTo="{!transId}" /> 
    
    <div style="width: 75%;margin: 0 auto;background-color: #FAFAFA;"> 
        <br/> 
        <hr style="border: 3px solid #2aaee4;margin-left: 10px;margin-right: 10px;" />
        <br/>        
        <apex:image id="theImage" width="15%" style="margin-left: 10px;" value="{!Offers.logo}"  alt="Offers.logotitle"/>    
        <br/>
        <hr style="border: 3px solid #2aaee4;margin-left: 10px;margin-right: 10px;" />
        <table style="font-size: 12.8px;font-family: calibri;padding:10px;width:100%;">
            <tr style="width:100%;">
                 <th style="padding:5px;text-align:left;font-weight:bold;width:30%;font-size:16px;">Dear Sir / Madam,</th>
                <th ></th>
                <th ></th>
            </tr>
            <tr style="width:100%;">
               <th colspan="3" style="padding:5px;text-align:left;font-weight:bold;width:30%;font-size:16px;">You have been requested to provide information for this Trade transaction. Please find the details below</th>
            </tr>
            <tr style="width:100%;">
               <th colspan="3" style="padding:5px;text-align:left;font-weight:bold;width:30%;font-size:16px;"><a href="https://clientdemo-stratizantqa.cs17.force.com/tradeaix/s/indusind?refURL={!transId}">Click here to view the Transaction</a></th>
            </tr>
            <tr style="width:100%;">
                <th style="padding:5px;text-align:left;font-weight:bold;width:30%;">Transaction Reference </th>
                <th style="width:2%;">:</th>
                <th style="padding:5px;text-align:left;font-weight:normal;width:68%;text-align:justify;">{!Offers.TransactionRefNumber}</th>
            </tr>
                
            <tr>
                <th style="padding:5px;text-align:left;font-weight:bold;">Market Type </th><th style="width:2%;">:</th>
                <th style="padding:5px;text-align:left;font-weight:normal;text-align:justify;">{!Offers.MarketType}</th>
            </tr>
            <tr>
                <th style="padding:5px;text-align:left;font-weight:bold;">Product Type</th><th style="width:2%;">:</th>
                <th style="padding:5px;text-align:left;font-weight:normal;text-align:justify;"> {!Offers.OfferType}</th>
            </tr>
            <tr>
                <th style="padding:5px;text-align:left;font-weight:bold;">Product Template</th> <th style="width:2%;">:</th>
                <th style="padding:5px;text-align:left;font-weight:normal;text-align:justify;">{!Offers.prodTemplateName}</th>
            </tr>
            <tr>
                <th style="padding:5px;text-align:left;font-weight:bold;">Transaction Status</th><th style="width:2%;">:</th>
                <th style="padding:5px;text-align:left;font-weight:normal;text-align:justify;">{!Offers.Status} </th>
            </tr>
            <tr>
                <th style="padding:5px;text-align:left;font-weight:bold;">Transaction Currency</th><th style="width:2%;">:</th>
                <th style="padding:5px;text-align:left;font-weight:normal;text-align:justify;">{!Offers.Currencycode} </th>
            </tr>
             <tr>
                <th style="padding:5px;text-align:left;font-weight:bold;">Issuing Bank</th><th style="width:2%;">:</th>
                <th style="padding:5px;text-align:left;font-weight:normal;text-align:justify;">{!Offers.IB} </th>
            </tr>
            <apex:repeat value="{!Offers.Body}" var="body">
                <tr><th style="padding:5px;text-align:left;font-weight:bold;">
                    {!LEFT(body,(find(':',body)-1))}
                    </th><th style="width:2%;">:</th>
                    <th style="padding:5px;text-align:left;font-weight:normal;text-align:justify;">
                        {!Right(body,(len(body)-find(':',body)))}
                    </th>
                </tr>
            </apex:repeat> 
            <tr>
                <th style="padding:5px;text-align:left;font-weight:bold;">Entity Legal Name</th><th style="width:2%;">:</th>
                <th style="padding:5px;text-align:left;font-weight:normal;text-align:justify;">{!Offers.PartyName}</th>
            </tr>       
            <tr>
                <th style="padding:5px;text-align:left;font-weight:bold;">Address</th><th style="width:2%;">:</th>
                <th style="padding:5px;text-align:left;font-weight:normal;text-align:justify;">{!Offers.City}</th>
            </tr>
            <tr>
                <th style="padding:5px;text-align:left;font-weight:bold;">State</th><th style="width:2%;">:</th>
                <th style="padding:5px;text-align:left;font-weight:normal;text-align:justify;">{!Offers.State}</th>
            </tr>
            
            <tr>
                <th style="padding:5px;text-align:left;font-weight:bold;">Title</th><th style="width:2%;">:</th>
                <th style="padding:5px;text-align:left;font-weight:normal;text-align:justify;">{!Offers.Title}</th>
            </tr>
            <tr>
                <th style="padding:5px;text-align:left;font-weight:bold;">Email</th><th style="width:2%;">:</th>
                <th style="padding:5px;text-align:left;font-weight:normal;text-align:justify;">{!Offers.Email}</th>
            </tr>
            <tr>
                <th style="padding:5px;text-align:left;font-weight:bold;">Phone</th><th style="width:2%;">:</th>
                <th style="padding:5px;text-align:left;font-weight:normal;text-align:justify;">{!Offers.Phone}</th>
            </tr>
            <tr>
                <th style="padding:5px;text-align:left;font-weight:bold;">Created By</th><th style="width:2%;">:</th>
                <th style="padding:5px;text-align:left;font-weight:normal;text-align:justify;">{!Offers.CreatedBy}</th>
            </tr>
            <tr>
                <th style="padding:5px;text-align:left;font-weight:bold;">Created Date</th><th style="width:2%;">:</th>
                <th style="padding:5px;text-align:left;font-weight:normal;text-align:justify;">{!Offers.CreatedDate}</th>
            </tr>
        </table>
         <table style="font-size: 12.8px;font-family: calibri;padding:10px;width:100%;border: 1px solid;background: #f2f2f2;">
       <apex:outputText value="{!Offers.Email_Guidance_RFI}" escape="false" />
        </table>
        <hr style="border: 3px solid #2aaee4;margin-left: 10px;margin-right: 10px;" />
        <div style="margin-left: 10px;">                  
        <br/>
            {!Offers.Thanksmsg}
        </div>
        <hr style="border: 3px solid #2aaee4;margin-left: 10px;margin-right: 10px;" />
        <br/> 
    </div>
    
</apex:component>